<div class="wrapper">
    <form>
        <mat-form-field class="example-full-width" class="search">
            <input matInput placeholder="Search by name" [(ngModel)]="name" name="name">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <br/>
    </form>
    <div class="products">
        <ng-container *ngFor="let item of eq | async" class="card">
            <div *ngIf="corresponds(item.name, item.type)" [routerLink]="['/barber', item.id]">
                <app-barber-card [id]="item.id"></app-barber-card>
            </div>
        </ng-container>
    </div>
</div>